.editButton {
    position: relative;
}

.editButton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #000;
    width: 0;
    transition: all 150ms ease;
}

.editButton:hover::after {
    width: 100%;
}

.modal {
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    max-height: 90dvh;
    overflow: auto;
}